<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITZIP 비밀번호 재설정</title>
</head>
<body style="background-color: #F5F5F5; color: #333333; margin: 0; padding: 0;">
<div style="max-width: 600px; margin: 0 auto; background-color: #FFFFFF; padding: 20px; border: 1px solid #E0E0E0; border-radius: 8px;">
    <div style="text-align: center; margin-bottom: 20px;">
        <img src="https://dy1vg9emkijkn.cloudfront.net/static/itzip_logo_white.png" alt="ITZIP Logo"
             style="width: 120px;">
    </div>
    <div style="background-color: #3B60E4; border-radius: 8px; padding: 20px; text-align: center; color: white;">
        <h1 style="font-size: 24px; margin: 0;">비밀번호 재설정</h1>
        <p style="font-size: 16px; margin: 10px 0;">안녕하세요, ITZIP입니다.</p>
        <p style="font-size: 16px; margin: 10px 0;">아래 버튼 클릭 시 비밀번호를 재설정한 후 ITZIP 메인페이지로 이동합니다.</p>
        <p style="font-size: 16px; margin: 10px 0;">임시 비밀번호로 로그인해주세요!</p>
        <div style="font-size: 20px; margin-top: 20px;">임시 비밀번호 : {{tempPassword}}</div>
        <a href="{{resetLink}}" target="_blank" style="display: inline-block; background-color: #FFFFFF; color: #3B60E4; padding: 5px 20px; font-size: 16px; letter-spacing: 2px; border-radius: 4px; margin-top: 20px; cursor: pointer; text-decoration: none;">
            비밀번호 재설정
        </a>
    </div>
    <div style="text-align: center; margin-top: 20px; font-size: 12px; color: #888888;">
        <p>본 메일은 발신전용 메일로 회신되지 않습니다.</p>
        <p>© 2024 ITZIP. All rights reserved.</p>
    </div>
</div>
</body>
</html>
